
{% extends "base.html" %}
{%block start%}

<div class="container mt-3">
  <h2>All Student List</h2>
  <form action="/add_std" method ="post">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Roll</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Department</th>

        </tr>
      </thead>
      {% for std in stds  %}
      <tbody>
        <tr>
          <td>{{std.id}}</td>
          <td>{{std.roll}}</td>
          <td>{{std.first_name}}</td>
          <td>{{std.last_name}}</td>
          <td>{{std.dept.name}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
   
  </div>

    

  {%endblock%}
